.navbar {
  background-color: #373a3c;
  margin-bottom: 0px;
}

#navButtons {
  font-size: 150%;
}

.fa {
  color:grey;
  padding: 5px;
  padding-top:12px;
}
.fa-facebook-official:hover, .fa-facebook-official:focus{
    color: #3b5998;
    text-decoration: none;
}

.fa-pinterest-square:hover, .fa-pinterest-square:focus {
    color: #c92228;
    text-decoration: none;
}
