.navbar-nav>.active>a {
  color: #000;
  background-color: grey;
}

.navbar {
  background-color: #373a3c;
  margin-bottom: 0px;
}

#navButtons {
  font-size: 170%;
}

#link {
  color: #ff99ff;
}

#link:focus {
  background-color: grey;
}

#link:hover {
  background-color: grey;
}

.navbar-brand {
  font-size: 170%;
}

.fa {
  color:grey;
  padding: 5px;
  padding-top:12px;
}
.fa-facebook-official:hover, .fa-facebook-official:focus{
    color: #3b5998;
    text-decoration: none;
}

.fa-pinterest-square:hover, .fa-pinterest-square:focus {
    color: #c92228;
    text-decoration: none;
}
