<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <ul class="nav navbar-nav">
      <!-- <li data-match-route="/$"><a href="#/" id="link">Home</a></li> -->
      <span ng-repeat-start="r in vm.navRoutes"></span>
      <li ng-if="r.settings.dropdown" dropdown>
        <a dropdown-toggle  data-toggle="dropdown" href="#">{{r.name}}</a>
        <ul class="dropdown-menu">
          <li ng-repeat="album in vm.albums">
            <a ui-sref="{{album.name}}">{{album.name}}</a>
          </li>
        </ul>
        <!-- <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a> -->
      </li>

      <li ng-if="!r.settings.dropdown">
        <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
      </li>
      <span ng-repeat-end></span>
    </ul>
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
        </li>
        <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png" />
          </a>
        </li>
        <li>
          <a href="http://www.gulpjs.com/" target="_blank">
            <img src="images/gulp-tiny.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
