#banner {
  position: relative;
  width: 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin: 0 auto;
}

body {
  padding-top: 52px;
}
